body{
  background-color: rgb(179, 179, 132);
}
.container {
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  margin: 5em auto;
}
.imgcontainer{
  margin: 100px 0 0 200px;
  width: 70%;
  height: 540px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.imgcontainer img{
  width:10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255)0.6;
  transition: all ease-in-out 0.5s;
}


.imgcontainer img:hover{
  width: 50%;
}

div#pielist{
  background-color: #1e1e1e;
  border: 3px,solid,rgb(102, 94, 94);
  height:300px;
  width: 500px;
  overflow: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
ul{
  overflow: visible;
  list-style: none;
  padding: 0;
}
li{
  transition: transform 0.3s ease;
}

li img{
  height: 5em;
  width: 5em;
}

li.pie{
  border: 1px,white,solid;
  box-shadow: 1px 1px 10px white;
  background-color: grey;
  margin: 10px;
}

li.pie:hover{
  transform: scale(1.025);
}
